<body class="landing-page">

<div class="wrapper">
  <div class="header header-filter" style="background-image: url('https://i.ytimg.com/vi/GWxACwK8KeA/maxresdefault.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">KITCHEN TALK</h1>
          <h4>A food recipe collection with hundreds of simple, healthy and delicious food recipes for any of your occasions and with an
            amazing search engine for browse recipes easily. </h4>
          <br />
          <a href="https://www.youtube.com/watch?v=9_5wHw6l11o" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Watch video
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section text-center section-landing">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title">What is Kitchen Talk</h2>
            <h5 class="description">.Kitchen Talk is a library of food recipes.
              It contains thousands of various food recipes. You can search
              recipes online as you wish. When you input the ingredients you have,
              you can easily find a food recipe that you can make from those ingredients.
              Kitchen Talk is an online recipe library with following cool features.</h5>
          </div>
        </div>

        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="material-icons">library_books</i>
                </div>
                <a [routerLink] = "['/search']"><h4 class="info-title">Online Recipe Library</h4></a>
                <p>Kitchen Talk is an online food recipe library contains with hundreds of food recipes
                  which supports a number of functions for both professional cooks and general public.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">search</i>
                </div>
                <a [routerLink] = "['/search']"><h4 class="info-title">Customizable Recipe search</h4></a>
                <p>You can browse food recipes from online food recipes bank.
                  You can filter food recipes according to ingredients you have,
                  health conditions or the occasion you have to prepare foods.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">note_add</i>
                </div>
                <a [routerLink] = "['/profile']"><h4 class="info-title">Personal Health Profile</h4></a>
                <p>You can maintain your personal Kitchen Talk profile.
                  Our intelligent search engine filter your search results
                  according to the health conditions in your profile </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
</body>
